<template>
  <card>
    <h4 slot="header" class="card-title">Formulario de empresa</h4>
    <form>
      <div class="row form-group p-6">
        <div class="col-sm-6 offset-sm-3 form-group p-6">
          <div class="row">
            <div class="col-sm-12 p-6">
              <base-input
                type="text"
                label="Nome Fantasia"
                placeholder="Nome da empresa"
                v-model="empresa.fantasia"
              ></base-input>
            </div>
            <div class="col-sm-12 p-6">
              <base-input
                type="text"
                label="CNPJ"
                placeholder="Cnpj da empresa"
                v-model="empresa.cnpj"
                v-mask="['###.###.###-##', '##.###.###/####-##']"
              ></base-input>
            </div>
            <div class="col-sm-6 p-6">
              <label for="estado">UF</label>
              <select
                id="estado"
                name="estado"
                class="form-control"
                placeholder="Selecione um estado"
                v-model="empresa.uf"
              >
                <option value="" disabled>Selecione um estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-info btn-fill"
          @click.prevent="salvaEmpresa"
        >
          Salvar
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
import Card from 'src/components/Cards/Card.vue'
import { mask } from 'vue-the-mask'
import axios from 'axios'
const http = axios.create({
  baseURL: process.env.VUE_APP_API_URL,
})

export default {
  directives: { mask },
  components: {
    Card,
  },
  data() {
    return {
      empresa: {
        uf: '',
      },
    }
  },
  methods: {
    salvaEmpresa() {
      let validado = this.validate()
      if (validado) {
        http
          .post('/empresa/inserir', this.empresa)
          .then((response) => {
            if (response.data.erro != undefined) {
              this.notifica(response.data.erro,'danger')
            }else{
              this.notifica('Empresa criada com sucesso','success');
              this.$router.push('/empresas');
            }
          })
          .catch((e) => {
             this.notifica('Há algo errado com os dados, por favor confira','danger');
            console.log(e)
          })
      }
    },
    validate() {
      if (
        this.empresa.uf == '' ||
        this.empresa.cnpj == null ||
        this.empresa.fantasia == null
      ) {
        this.notifica('Por favor preencha todos os campos!','danger')
        return false
      }
      return true
    },
    notifica(mensagem,tipo) {
      this.$notifications.notify({
        message: mensagem,
        horizontalAlign: 'right',
        verticalAlign: 'top',
        type: tipo,
      })
    },
  },
  mounted(){
    console.log(this.$route.params.id)
    if(this.$route.params.id != undefined){
      http.get('/empresa/detalhes/'+this.$route.params.id).then((response)=>{
        this.empresa = response.data;
      })
    }
  }
}
</script>
<style>
.p-6 {
  padding: 6px !important;
}
form select:invalid {
  color: gray !important;
}

form select option:first-child {
  color: gray !important;
}

card {
  margin-bottom: 50px;
}
</style>
