<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card
            class="strpied-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Listagem de empresas</h4>
              <a href="/empresa/novo" class="btn btn-success pull-right">
                Nova Empresa
              </a>
            </template>
            <table class="table">
              <tbody>
                <tr v-for="(empresa, index) in empresas" :key="empresa.id">
                  <td>{{ empresa.id }}</td>
                  <td>{{ empresa.fantasia }}</td>
                  <td>{{ empresa.cnpj }}</td>
                  <td>{{ empresa.uf }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-warning"
                      @click="editar(empresa.id)"
                    >
                      Editar
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-sm btn-danger"
                      @click="excluir(empresa.id, index)"
                    >
                      Excluir
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Card from 'src/components/Cards/Card.vue'

export default {
  components: {
    Card,
  },
  data() {
    return {
      empresas: [],
    }
  },
  methods: {
    getEmpresas() {
      this.axios
        .get(process.env.VUE_APP_API_URL + '/empresas')
        .then((response) => {
          this.empresas = response.data
        })
        .catch((e) => {
          console.log(e)
        })
    },
    editar(id){
      this.$router.push('/empresa/editar/'+id);
    },
    excluir(id, index) {
      this.$swal({
        title: 'Você tem certeza?',
        text: 'Após excluir o registro será perdido!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim, desejo excluir!',
        cancelButtonText: 'Não',
      }).then((result) => {
        if (result.isConfirmed) {
          console.log(id)
          console.log(index)
          this.axios
            .post(process.env.VUE_APP_API_URL + '/empresa/excluir/'+id)
            .then((response) => {
              this.empresas.splice(index,1)
            })
            .catch((e) => {
              console.log(e)
            })
        }
      })
    },
  },

  mounted() {
    this.getEmpresas()
  },
}
</script>
<style></style>
