<template>
  <card>
    <h4 slot="header" class="card-title">Formulario de fornecedor</h4>
    <form>
      <div class="row form-group p-6">
        <div class="col-sm-6 offset-sm-3 form-group p-6">
          <div class="row">
            <div class="col-sm-12 p-6">
              <label for="fornecedor" class="form-label">Empresa</label>
              <v-select
                v-model="fornecedor.empresa_id"
                :options="empresas"

              ></v-select>
            </div>

            <div class="col-sm-12 p-6">
              <base-input
                type="text"
                label="Nome"
                placeholder="Nome do fornecedor"
                v-model="fornecedor.nome"
              ></base-input>
            </div>
            <div class="col-sm-12 p-6">
              <base-input
                type="text"
                label="CPF / CNPJ"
                placeholder="Cpf ou Cnpj do fornecedor"
                v-model="fornecedor.cpf_cnpj"
                v-mask="['###.###.###-##', '##.###.###/####-##']"
              ></base-input>
            </div>
            <div class="col-sm-12 p-6" v-if="fornecedor.cpf_cnpj.length < 15">
              <base-input
                type="text"
                label="Data nascimento "
                placeholder="data de nascimento"
                v-model="fornecedor.data_nascimento"
                v-mask="['##/##/####']"
              ></base-input>
            </div>
            <div class="col-sm-12 p-6" v-if="fornecedor.cpf_cnpj.length < 15">
              <base-input
                type="text"
                label="RG "
                placeholder="RG"
                v-model="fornecedor.rg"
              ></base-input>
            </div>

            <div
              class="col-sm-12 p-6"
              v-for="(telefone, index) in telefones"
              :key="index"
            >
              <div class="row p-6" style="display: flex; align-items: center;">
                <div class="col-sm-9 p-6">
                  <base-input
                    type="text"
                    :label="'Telefone ' + telefone"
                    placeholder="Telefone"
                    v-model="fornecedor.telefone[telefone]"
                    v-mask="['####-####', '#####-####']"
                  ></base-input>
                </div>
                <div class="col-sm-2" style="margin-top: 13px;">
                  <button
                    type="button"
                    class="btn btn-danger"
                    v-if="index > 0"
                    @click="telefones--"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-success pull-right"
                @click="telefones++"
              >
                Add Telefone
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-info btn-fill"
          @click.prevent="salvaFornecedor"
        >
          Salvar
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
import Card from 'src/components/Cards/Card.vue'
import { mask } from 'vue-the-mask'
import axios from 'axios'
const http = axios.create({
  baseURL: process.env.VUE_APP_API_URL,
})

export default {
  directives: { mask },
  components: {
    Card,
  },
  data() {
    return {
      empresas: [],
      telefones: 1,
      fornecedor: {
        telefone: [],
        cpf_cnpj:'',
      },
    }
  },
  methods: {
    getEmpresas() {
      http.get('/empresas-select').then((response) => {
        this.empresas = response.data
      })
    },
    salvaFornecedor() {

      let validado = this.validate()
      if (validado) {
        http
          .post('/fornecedor/inserir', this.fornecedor)
          .then((response) => {
            if (response.data.erro != undefined) {
              this.notifica(response.data.erro, 'danger')
            } else {
              this.notifica('Empresa criada com sucesso', 'success')
              this.$router.push('/fornecedores')
            }
          })
          .catch((e) => {
            this.notifica( 'Há algo errado com os dados, por favor confira', 'danger' )
            console.log(e)
          })
      }
    },
    validate() {
      if (
        this.fornecedor.nome == '' ||
        this.fornecedor.cpf_cnpj == null ||
        this.fornecedor.empresa_id == null
      ) {
        this.notifica('Por favor preencha todos os campos!', 'danger')
        return false
      }
      return true
    },
    notifica(mensagem, tipo) {
      this.$notifications.notify({
        message: mensagem,
        horizontalAlign: 'right',
        verticalAlign: 'top',
        type: tipo,
      })
    },
  },
  mounted() {
    this.getEmpresas()
    console.log(this.$route.params.id)
    if (this.$route.params.id != undefined) {
      http
        .get('/fornecedor/detalhes/' + this.$route.params.id)
        .then((response) => {
          this.fornecedor = response.data
          this.telefone = this.fornecedor.telefone.length;

        })
    }
  },
}
</script>
<style>
.p-6 {
  padding: 6px !important;
}
form select:invalid {
  color: gray !important;
}

form select option:first-child {
  color: gray !important;
}

card {
  margin-bottom: 50px;
}
</style>
