<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card
            class="strpied-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Listagem de fornecedores</h4>
              <a href="/fornecedor/novo" class="btn btn-success pull-right">
                Novo Fornecedor
              </a>
            </template>
            <table class="table">
              <tbody>
                <tr v-for="(fornecedor, index) in fornecedores" :key="fornecedor.id">
                  <td>{{ fornecedor.id }}</td>
                  <td>{{ fornecedor.nome }}</td>
                  <td>{{ fornecedor.cpf_cnpj }}</td>
                  <td>{{ new Date(fornecedor.created_at).toLocaleDateString(['pt-br']) }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-warning"
                      @click="editar(fornecedor.id)"
                    >
                      Editar
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-sm btn-danger"
                      @click="excluir(fornecedor.id, index)"
                    >
                      Excluir
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Card from 'src/components/Cards/Card.vue'

export default {
  components: {
    Card,
  },
  data() {
    return {
      fornecedores: [],
    }
  },
  methods: {
    getEmpresas() {
      this.axios
        .get(process.env.VUE_APP_API_URL + '/fornecedores')
        .then((response) => {
          this.fornecedores = response.data
        })
        .catch((e) => {
          console.log(e)
        })
    },
    editar(id){
      this.$router.push('/fornecedor/editar/'+id);
    },
    excluir(id, index) {
      this.$swal({
        title: 'Você tem certeza?',
        text: 'Após excluir o registro será perdido!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim, desejo excluir!',
        cancelButtonText: 'Não',
      }).then((result) => {
        if (result.isConfirmed) {
          console.log(id)
          console.log(index)
          this.axios
            .post(process.env.VUE_APP_API_URL + '/fornecedor/excluir/'+id)
            .then((response) => {
              this.fornecedores.splice(index,1)
            })
            .catch((e) => {
              console.log(e)
            })
        }
      })
    },
  },

  mounted() {
    this.getEmpresas()
  },
}
</script>
<style></style>
